img{
  width: 20%;
  height: auto:
}

*{
  background-color: #e0e6eb;
}

font{
  font-family: "Helvetica", Helvetica;
}

h1{
  font-family: "Helvetica", Helvetica;
}

body{
  font-family: "Helvetica", Helvetica;
}
